<%= javascript_pack_tag 'input_usdt_converter', 'data-turbolinks-track': 'reload' %>
<div class="col col-lg-6 mt-1">

  <%= form_with url: transactions_path, scope: :transaction, method: :post, data: { turbolinks: false } do |form| %>
    <%= form.hidden_field :cur_code_send, value: "UST" %>
    <%= form.hidden_field :cur_code_get, value: "BTC" %>

    <b><%= form.label :to_send_value, t("transaction_form.send") %></b>
    <div class="input-group">
      <div class="col pe-0">
        <%= form.text_field :to_send_value, class: "form-control", value: 0 %>
      </div>
      <span class="col-auto input-group-text">₮</span>
    </div>

    <%= render partial: 'errors', locals: { objet_with_errors: @transaction_new, error_of: :to_send_value } %>

    <b><%= form.label :to_get_value, t("transaction_form.get") %></b>
    <div class="input-group">
      <div class="col pe-0">
        <%= form.text_field :to_get_value, class: "form-control", value: 0 %>
      </div>
       <span class="col-auto input-group-text">₿</span>
    </div>

    <%= render partial: 'errors', locals: { objet_with_errors: @transaction_new, error_of: :to_get_value } %>

    <b><%= form.label :recipient_address, t("transaction_form.recipient_address") %></b>
    <%= form.text_field :recipient_address, class: "form-control" %>

    <%= render partial: 'errors', locals: { objet_with_errors: @transaction_new, error_of: :recipient_address } %>

    <b><%= form.label :email, t("transaction_form.email") %></b>
    <%= form.text_field :email, class: "form-control" %>

    <%= render partial: 'errors', locals: { objet_with_errors: @transaction_new, error_of: :email } %>

    <div class="form-check mt-1">
      <%= form.check_box :terms, class: "form-check-input" %>
      <%= form.label :terms, t("transaction_form.terms"), class: "form-check-label" %>
    </div>
    <%= render partial: 'errors', locals: { objet_with_errors: @transaction_new, error_of: :terms } %>


    <%= form.submit "Send", class: "btn btn-primary mt-2" %>
  <% end %>
</div>
